body {
  margin: 0;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 576px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 992px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
}

@font-face {
  font-family: 'Manrope';
  src: local('Manrope'),
    url(/src/fonts/Manrope/Manrope-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Corben';
  src: local('Corben'),
    url(/src/fonts/Corben/Corben-Regular.ttf) format('truetype');
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
